footer {
  text-align: left;
  margin-bottom: 4rem;
  opacity: 0.7;

  & p {
    margin-bottom: 0.5rem;
  }

  & ul.footer-contacts {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 0.85rem;
    margin-top: 0.4rem;

    & li a {
      color: var(--darkgray);
      font-size: 1.15rem;
      transition: color 0.2s ease, opacity 0.2s ease;
      text-decoration: none;

      &:hover {
        color: var(--dark);
        opacity: 1;
      }
    }
  }
}
